# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work\sample_app_6th_ed-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
